.main {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 500px;
}

.leftContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 400px;
    max-height: 400px;
    margin-top: 35px;

}

.rightContainer {
    display: flex;
    flex: 3;
    flex-direction: column;
    min-height: 500px;
    max-height: 70vh;
    overflow-y: auto;
    padding-left: 20px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.wrapper {
    max-height: 30vh;
}